# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc
backend/.env
backend/staticfiles/
backend/logs/

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# OS / editor
.vscode/
.DS_Store
